{% extends "base.html" %}


{% block title %}
    Register | Todo
{% endblock %}


{% block content %}

    <div class="card auth-card">

        <h1>Create Account</h1>

        <p class="subtitle">
            Create an account to manage your tasks.
        </p>

        <form method="post" class="form">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">
                Register
            </button>

        </form>

        <p class="auth-switch">
            Already have an account?
            <a href="{% url 'accounts:login' %}">
                Login
            </a>
        </p>

    </div>

{% endblock %}