<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Tasks</title>
</head>

<body>

    <h1>My Tasks</h1>

    <p>{{ request.user.email }}</p>

    <a href="{% url 'tasks:task-create' %}">
        Add Task
    </a>

    <form method="post" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    <hr>

    {% for task in tasks %}

        <div>

            {% if task.is_done %}
                <del>{{ task.title }}</del>
                <span>Done</span>
            {% else %}
                <span>{{ task.title }}</span>

                <form
                    method="post"
                    action="{% url 'tasks:task-done' task.pk %}"
                >
                    {% csrf_token %}
                    <button type="submit">
                        Done
                    </button>
                </form>
            {% endif %}

            <a href="{% url 'tasks:task-update' task.pk %}">
                Edit
            </a>

            <a href="{% url 'tasks:task-delete' task.pk %}">
                Delete
            </a>

        </div>

    {% empty %}

        <p>No tasks yet.</p>

    {% endfor %}

</body>
</html>